# Xcode / Swift
## User-specific Xcode state
*.xcuserstate
xcuserdata/

## Build products
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.build/
.swiftpm/

## macOS
.DS_Store

## Jupyter
.ipynb_checkpoints/

## Python
__pycache__/
*.pyc

## Local agent/editor state
.claude/
